* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 8vh;
    display: flex;
    align-items: center;
    background: #0082f9;
}

main {
    flex-grow: 1;
    padding: 20px 0;
    overflow: auto;
}

footer {
    min-height: 5vh;
    display: flex;
    align-items: center;
    background: #303030;

    .container {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: #f5f5f5;
    }
}

.container {
    width: 80vw;
    margin: 0 auto;
}

nav {
    color: #f5f5f5;

    ul {
        display: flex;
        gap: 10px;

        a {
            font-weight: bolder;

            &:hover {
                text-decoration: underline;
                color: #303030;
            }
        }
    }
}

table {
    width: 80vw;
    margin: 0 auto;

    figure {
        width: 60px;
        aspect-ratio: 1/1;
    }

    th {
        text-align: start;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #000000;
    }

    .view_edit_button {
        padding-left: 7px;
        font-size: 16px;
    }
}

.container_show {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 0;

    .go_back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a {
            padding: 4px 8px;
            border: 1.5px solid #000000;
            border-radius: 5px;
            font-size: 20px;
        }
    }
}

.form {
    width: 40vw;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    input,
    textarea {
        margin-bottom: 5px;
    }

    select {
        margin-bottom: 10px;
    }

    .input-wrapper {
        display: flex;
        gap: 10px;

        #submint {
            border-radius: 2px;
            border: 1px solid #767676;
            color: #f5f5f5;
            background: #0082f9;

            &:hover {
                background: #0070d9;
            }
        }

        #submint,
        #reset {
            width: 80px;
            padding: 5px;
            cursor: pointer;
        }
    }
}

.delete {
    padding-left: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
}
