* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 8vh;
    display: flex;
    align-items: center;
    background: lightblue;
}

main {
    flex-grow: 1;
    padding: 20px 0;
    overflow: auto;
}

footer {
    min-height: 5vh;
    background: yellowgreen;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

nav {
    ul {
        display: flex;
        gap: 10px;

        a {
            font-weight: bolder;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

table {
    width: 80vw;
    margin: 0 auto;

    th {
        text-align: start;
    }
    
    th, td {
        padding: 10px;
        border: 1px solid black;
    }

    figure {
        width: 60px;
        aspect-ratio: 1/1;
    }
}
